:root{
    --bs-primary:rgb(76, 250, 192);
    --bs-primary-rgb:238,72,102;
    --bs-secondary:rgb(182, 255, 231);
    --bs-secondary-rgb:238,143,0;
}

body{
    font-family: 'Noto Sans TC',sans-serif;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1{
    font-family: 'Noto Sans TC',sans-serif;
    text-transform: none;
}

.subheading{
    font-family: 'Noto Sans TC'sans-serif;
    text-transform: none;
}

.social-icon:hover{
    background-color: aquamarine;
    color: var(--bs-primary);
}

/*
123
*/